* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fondo: #13322b;

}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
}

header {
    width: 100%;
    height: 100px;
    background-color: var(--fondo);
    min-width: 340px;
}


header img {
    width: 150px;

}

header .header-cont {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
}

header .inst a {
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
}


.container {
    width: 100%;
    min-width: 340px;
    margin: 0 auto;
    padding: 25px;
}

.container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}


.container  h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 25px;
    font-weight: 500;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--fondo);
}

.container .sub-titulo {
    width: 70%;
    margin: 25px auto;
    text-align: center;
}

.container .sub-titulo span {
    color: red;
    font-size: 1.5rem;
}


.container .pt1,
.container .pt2,
.container .pt3 {
    width: 70%;
    margin: auto;
    min-width: 320px;
    display: grid;
    grid-template-columns: 15% 25% 15% 25%;
    justify-content: center;
    grid-gap: 10px;
    padding-bottom: 35px;
    padding-top: 35px;
    color: rgb(0, 3, 0);

}

.container .pt2 {
    display: grid;
    grid-template-columns: 20% 20% 30%;
}

.container .pt3 {
    display: grid;
    grid-template-columns: 30% 10% 30%;
}

.container .coment-pt1 {
    width: 70%;
    height: 35px;
    margin: auto;
    background-color: var(--fondo);
    padding-top: 5px;

    color: rgb(255, 255, 255);
}

.container form label {
    font-size: 1.5rem;
    margin: 15px 0;
    justify-self: center;
    text-align: center;
}

.container form input,
.container form select,
.container form input[type="date"],
.container form input[type="number"] {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #cecece;
    font-size: 1.5rem;
    align-self: center;
    text-align: center;
}


.container form #info_tasa {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('/assets/info.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 15px;

}


.radio {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

.radio input[type="checkbox"] {
    width: 1.8rem;
    margin-right: 15px;
}

#text-checkbox {
    margin: 15px 0px;
    text-align: center;
}

.radio p {
    margin-right: 25px;
}


.container form .boton {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 25px;

}

.container form button {
    width: 30%;
    margin: auto;
    padding: 10px 0px;
    border-radius: 15px;
    color: white;
    background-color: var(--fondo);
    font-size: 1.8rem;
    cursor: pointer;

}


.container form button:hover {
    background-color: #54a18e;
}


.container form #btn-icon {
    width: 20px;
    height: 20px;
    background-image: url(../assets/hoja-de-calculo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    display: inline-block;
}

.container #msj-info {
    background-color: #fff9e0;
    padding: 10PX;
    font-size: 1.2rem;
    border-radius: 5px;
}

.container #msj-info span{
    color: red;

}
.container .msj {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 15px;

}



footer {
    margin-top: 50px;
    width: 100%;
    min-width: 340px;
    height: 100px;
    padding-top: 25px;
    background-color: #0c231e;
    display: flex;
    justify-content: center;
    text-align: center;

}

footer p {
    color: rgb(197, 193, 193);
    font-size: 1.4rem;
    line-height: 2.8rem;
}

footer a {
    color: white;
}




/* Estilos de los resultados */
/* ******************************************************************************************************* */

.tabla-titulo button {
    width: 45px;
    height: 45px;
    background-color: white;
    background-image: url(../assets/pdf.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;

}

.tabla-container {
    width: 70%;
    min-width: 320px;
    margin: 15px auto;
    display: grid;  
    justify-content: center; 
    grid-gap: 25px;
    overflow: hidden;
}

.tabla-titulo {
    width: 70%;
    min-width: 320px;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--fondo);
}
.result-pro-titulo{
    width: 70%;
    background-color: var(--fondo);
    margin: auto;
    color: white;

}
.result-pro-titulo #result-pro-h1 {
   padding-top: 10px;
    font-weight: 500;
    font-size: 1.5rem;
    font-weight: 500;


}
.container .resultados-resumen{
    width: 70%;
    margin:auto;
    text-align: center;
    line-height: 2.5rem;
    background-color: #f3f1e8;
    padding-bottom: 25px;
}
.container .resultados-resumen .res-info{
    width: 100%;
    height: 35px;
    background-color: var(--fondo);
    padding-top: 5px;
    color: white;
    font-weight: 500;
    margin-bottom: 25px;
    
}


    .total-resultados {
        width: 70%;
        min-width: 320px;
        margin: 35px auto;
        display: grid;
        justify-content: space-between;
        grid-template-columns: 20% 15% 20% 15%;
        grid-gap: 10px;
    }

.total-resultados p {
    font-size: 1.rem;
    line-height: 2.2rem;
    text-align: start;
  
    /* margin-bottom: 10px; */
    color: rgb(0, 0, 0);
}

.resultado{
    width: 70%;
    margin: auto;
    overflow-x: auto;
}

.nav-bar {
    min-width: 320px;
    margin: 50px auto 20px auto;
    display: flex;
    justify-content: center;

}

.nav-bar button {
     /* margin-left: 35px; */
    border-right: 5px solid gray;
    font-size: 1.5rem;
    padding: 20px 15px;
    text-decoration: none;
    background-color: #ffffff;
    color: var(--fondo);
    cursor: pointer;
    border: none;
}

.nav-bar button:hover,
.nav-bar button:focus {
    text-decoration: underline;
    
}

.container .boton{
    width: 30%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}
.container .boton button{
    padding: 15px 45px;
    background-color: var(--fondo);
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;

}

.container .boton button:hover{
    background-color: #54a18e;

}
.container .boton button span{
    width: 25px;
    height: 25px;
    display: inline-block;
    background-image: url(../assets/pdf.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 15px;
    vertical-align: text-bottom;
}


/* estilos de la tabla *********************************************/
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.4rem;
}

th {
    background-color: var(--fondo);
    color: white;
    font-weight: 500;
    
}

th,
td {
    
    border: 1px solid rgb(255, 249, 196);
    padding: 8px;
}

table caption {
    margin-bottom: 25px;
}
/* termino de los resultados */
/* ******************************************************************************************************* */


/* media Queries */


@media (max-width:900px) {

    header .header-cont {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 15px 25px;
    }

    .container .pt1,
    .container .pt2,
    .container .pt3 {
        grid-template-columns: 1fr;
    }

    .container form .boton button {
        width: 100%;
    }


    .container .coment-pt1 {
        width: 100%;
        font-size: 1.2rem;
        padding: 0;
    }

    .container form label {
        /* font-size: 1.8rem; */
        margin: 15px 0;
        justify-self: start;
        margin-right: 25px;
    }

    .container h1 {
        padding: 0;
    }

    .container form input[type="date"],
    .container form input[type="number"],
    .container form select,
    .container form input {
        width: 100%;
        text-align: center;
    }

    header img,
    header .inst a {
        margin: 25px auto;

    }

    .total-resultados {
        width: 320px;
        text-align: center;
        grid-template-columns: 1fr 1fr;

    }

    .scroll {
        overflow-x: auto;
    }

    .nav-bar button {
        margin-left: 0px;
    }


    footer .contenedor{
        text-align: center;
    }


    /* pagina de resultados  */
    .container .resultados-resumen,
    .container .resultado,
    .container .total-resultados,
    .container .result-pro-titulo{
        width: 100%;
     
    }



}