* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fondo: #13322b;

}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}

header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--fondo);
    min-width: 340px;
}

header .img {
    width: 50%;
    margin: 0 auto;
}

header img {
    width: 150px;
    margin: 25px 50px;
}

header .inst {
    padding: 28px;
    margin-right: 50px;
}

header .inst a{
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
}


.container {
    width: 100%;
    min-width: 340px;
    margin: auto;
    padding: 25px;
}

.container h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 25px;
    padding-left: 100px;
}

.container form {
    width: 60%;
    min-width: 800px;
    margin: auto;
    min-width: 320px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding-bottom: 50px;
    padding-top: 25px;
}

.container form label {
    font-size: 1.8rem;
    margin: 15px 0;
    justify-self: end;

}

.container form input,
select {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #cecece;
    font-size: 1.5rem;
    align-self: center;
    text-align: center;
}

.container form select {
    width: 80%;
    text-align: center;
}


.container form input[type="date"] {
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
}

.container form input[type="number"] {
    width: 80%;
    text-align: center;
    color: var(--fondo);
}

.container form button {
    width: 80%;
    grid-row: 2fr;
    justify-self: center;
    margin-top: 25px;
    padding: 10px 15px;
    border-radius: 15px;
    color: white;
    background-color: var(--fondo);
    font-size: 1.8rem;
    cursor: pointer;
}

.container form button:hover {
    background-color: #376b5f;
}

footer {
    margin-top: 50px;
    width: 100%;
    min-width: 340px;
    height: 50px;
    background-color: #0c231e;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: rgb(197, 193, 193);
    font-size: 1.4rem;
}

footer a {
    color: white;
}


/* Estilos de los resultados */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.4rem;
}
th{
    background-color: #0c231e;
    color: white;
    font-weight: 500;
}
th,
td {
    border: 1px solid var(--fondo);
    padding: 8px;
}
table caption{
    margin-bottom: 25px;
}

.tabla-container {
    width: 50%;
    min-width: 320px;
    margin: 50px auto;
    display: grid;
    justify-content: center; 
    grid-gap:25px;
   
   
}
.tabla-container .scroll{
    overflow-x: auto;
}
.tabla-titulo {
    width: 70%;
    min-width: 320px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--fondo);
}

.tabla-titulo h1 {
    padding-top: 20px;
}

.tabla-titulo button {
    width: 45px;
    height: 45px;
    background-color: white;
    background-image: url(../assets/pdf.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    
}

.total-resultados{
    width: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
   
}
.total-resultados p{
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: start;
    margin-bottom: 20px;
    color: rgb(77, 74, 74);
}




/* media QUeries */


@media (max-width:800px) {
    .container form {
        grid-template-columns: 1fr;
    }

    .container form label {
        font-size: 1.8rem;
        margin: 15px 0;
        justify-self: start;
        margin-right: 25px;
    }

    .container h1 {
        padding: 0;
    }

    .container form input[type="date"],
    .container form input[type="number"],
    .container form select,
    .container form input {
        width: 100%;
        text-align: center;
    }
    header img,
    header .inst a{
        margin: 25px  auto;
        
    }

     .total-resultados{
        grid-template-columns: 1fr 1fr;
    }

   
}

@media (max-width:1100px) {

    .container form input[type="date"],
    .container form input[type="number"],
    .container form select,
    .container form input {
        width: 100%;
        text-align: center;
    }

    .container form button {
        width: 100%;
    }
}