* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fondo: #13322b;

}

html {
    font-family: 'Cabin', sans-serif;
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
}


/* estilos del header */
header {
    width: 100%;
    height: 300px;
    /* background-color: #ffffff; */
    display: grid;
    grid-template-rows: 35% 65%;
}
header .header-titulo{
    width: 70% ;
    margin: auto;
    display: flex;
    justify-content: end;
    padding: 35px;
    color: white;
    font-size: 1.5rem;
}

header .header-img-container{
    width: 100%;
    background: linear-gradient(0deg, #cecbcb 0%, rgba(255, 255, 255, 0) 50%);
    box-shadow: 2px 0px 7px rgba(55, 55, 56, 0.897);
}

header .header-img-container--img{
    width: 60%;
    display: flex;
    margin: 0 auto;
    justify-content: start;
    
}

header .header-img-container--img img{
    width: 200px;
    margin: 0 25px;
    
}
header .header-img-container--img h1{
    font-size: 3.3rem;
    padding-left: 15px;
    padding-top: 60px;
    font-weight: 700;
    line-height: normal;
    color: #1b1b1b;
}

/* temrino de los estilos del header */
main{
    background-color: #f7f7f7;
}

.container {
    width: 100%;
    min-width: 340px;
    margin: 0 auto;
    
}

.container .sub-titulo {
    width: 80%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}


.container .pt1,.pt2,.pt3{
    width: 70%;
    margin: 0 auto;
    background-color: white;
    box-shadow:  0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 45px;
    padding: 50px 25px;
}

.container .pt1 .pt1-formulario{
    width: 80%;
    margin: 25px auto;
    height: 100%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
}

.container .pt2 .pt2-formulario{
    width: 80%;
    margin: 25px auto;
    height: 100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

.container .pt3 .pt3-formulario{
    width: 80%;
    margin: 25px auto;
    height: 100%;
    display:grid;
    grid-template-columns: 30% 20% 30% 20%;
    flex-direction: column;
}

.container .pt1 label,
.container .pt2 label,
.container .pt3 label{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 55px;
    text-align: start;
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.container form input,
.container form select,
.container form input[type="date"],
.container form input[type="number"] {

    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #cecece;
    font-size: 1.5rem;
    align-self: center;
    text-align: center;
}




.container form label {
    font-size: 1.5rem;
    margin: 15px 0;
    justify-self: start ;
    text-align: center;
}

.container #msj-info {
    width: 90%;
    color: #92430e;
    background-color: #fff4c3;
}

.container .pt3 .msj-pt3{
   margin-top: 25px;
    grid-column: span 5;
}

.container .msj-final{
    width: 70%;
    margin: auto;
    background-color: rgb(196, 248, 255);
    border-top: 1;
}

.container .flex{
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
}
.container .flex .py-1 svg{
    width: 90;
}
.container .msj-final p{
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}


.container form .boton {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 25px;

}

.container form button {
    width: 30%;
    margin: auto;
    padding: 10px 0px;
    border-radius: 15px;
    color: white;
    background-color: var(--fondo);
    font-size: 1.8rem;
    cursor: pointer;

}


.container form button:hover {
    background-color: #54a18e;
}


.container form #btn-icon {
    width: 20px;
    height: 20px;
    background-image: url(../assets/hoja-de-calculo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    display: inline-block;
}
.container .msg-montoIMSS{
   grid-column-start: span 3;

}






footer {
    margin-top: 50px;
    width: 100%;
    min-width: 340px;
    height: 100px;
    padding-top: 25px;
    background-color: #0c231e;
    display: flex;
    justify-content: center;
    text-align: center;

}

footer p {
    color: rgb(197, 193, 193);
    font-size: 1.4rem;
    line-height: 2.8rem;
}

footer a {
    color: white;
}




/* Estilos de los resultados */
/* ******************************************************************************************************* */

.tabla-titulo button {
    width: 45px;
    height: 45px;
    background-color: white;
    background-image: url(../assets/pdf.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;

}

.tabla-container {
    width: 70%;
    min-width: 320px;
    margin: 15px auto;
    display: grid;  
    justify-content: center; 
    grid-gap: 25px;
    overflow: hidden;
}

.tabla-titulo {
    width: 70%;
    min-width: 320px;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--fondo);
}
.result-pro-titulo{
    width: 70%;
    background-color: var(--fondo);
    margin: auto;
    color: white;

}
.result-pro-titulo #result-pro-h1 {
   padding-top: 10px;
    font-weight: 500;
    font-size: 1.5rem;
    font-weight: 500;


}
.container .resultados-resumen{
    width: 70%;
    margin:auto;
    text-align: center;
    line-height: 2.5rem;
    background-color: #f3f1e8;
    padding-bottom: 25px;
}
.container .resultados-resumen .res-info{
    width: 100%;
    height: 35px;
    background-color: var(--fondo);
    padding-top: 5px;
    color: white;
    font-weight: 500;
    margin-bottom: 25px;
    
}


    .total-resultados {
        width: 70%;
        min-width: 320px;
        margin: 35px auto;
        display: grid;
        justify-content: space-between;
        /* grid-template-columns: 20% 15% 20% 15%;
         */
         grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

.total-resultados p {
    font-size: 1.rem;
    line-height: 2.2rem;
    text-align: start;
  
    /* margin-bottom: 10px; */
    color: rgb(0, 0, 0);
}

.resultado{
    width: 70%;
    margin: auto;
    overflow-x: auto;
}

.nav-bar {
    min-width: 320px;
    margin: 50px auto 20px auto;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #ffffff;
    width: 70%;
}

.nav-bar button {
     /* margin-left: 35px; */

    font-size: 1.5rem;
    padding: 20px 15px;
    text-decoration: none;
    
    color: var(--fondo);
    cursor: pointer;
   
    background-color: #fffd8b;
    border-radius: 15px;
    margin-left: 15px;
}

.nav-bar button:hover,
.nav-bar button:focus {
    background-color: #969693;
    
}

.container .boton{
    width: 30%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}
.container .boton button{
    padding: 15px 45px;
    background-color: var(--fondo);
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;

}

.container .boton button:hover{
    background-color: #54a18e;

}
.container .boton button span{
    width: 25px;
    height: 25px;
    display: inline-block;
    background-image: url(../assets/pdf.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 15px;
    vertical-align: text-bottom;
}


/* estilos de la tabla *********************************************/
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.4rem;
}

th {
    background: rgb(246, 255, 192);
    color:white;
    font-weight: 500;
    border-radius: 15px;
    border: none;
}

th,
td {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    text-align: center;
    border-radius: 15px;
}

table caption {
    margin-bottom: 25px;
}
/* termino de los resultados */
/* ******************************************************************************************************* */


/* media Queries */


@media (max-width:900px) {

    header .header-cont {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 15px 25px;
    }
    .

    .container .pt1,
    .container .pt2,
    .container .pt3 {
        grid-template-columns: 1fr;
    }

    .container form .boton button {
        width: 100%;

    }


    .container .coment-pt1 {
        margin: auto;
        background-color: var(--fondo);
        padding-top: 5px;  
        color: rgb(255, 255, 255);       
        width: 100%;
        height: .2rem;
        font-size: .1rem;
        padding: 0;
        width: 70%;      
    }

    .container form label {
        /* font-size: 1.8rem; */
        margin: 15px 0;
        justify-self: start;
        margin-right: 25px;
    }

    .container h1 {
        padding: 0;
    }

    .container form input[type="date"],
    .container form input[type="number"],
    .container form select,
    .container form input {
        width: 100%;
        text-align: center;
    }

    header img,
    header .inst a {
        margin: 25px auto;

    }

    .total-resultados {
        width: 320px;
        text-align: center;
        grid-template-columns: 1fr 1fr;

    }

    .scroll {
        overflow-x: auto;
    }

    .nav-bar button {
        margin-left: 0px;
    }


    footer .contenedor{
        text-align: center;
    }


    /* pagina de resultados  */
    .container .resultados-resumen,
    .container .resultado,
    .container .total-resultados,
    .container .result-pro-titulo{
        width: 100%;
     
    }

/* nuevos estilos ----------------------------- */
    header .header-img-container--img h1{
        padding-top: 25px;
        font-size: 3rem;
    }


}